.register-background {
  width: 100%;
  height: 190px;
  margin-top: 10px;
  @include flexCenter();
  background-color: $color-4;
  border-radius: 10px;
}

.register {
  @include flexCenter();
  * {
    font-family: $font-5;
  }
  input {
    border-radius: 5px;
  }
  flex-direction: column;
}

.top-section {
  @include flexCenter();
  flex-direction: column;
}

form {
  @include flexCenter();
  flex-direction: column;
}

button {
  margin: auto;
  margin-top: 10px;
  width: 150px;
  border-radius: 5px;
  background-color: $color-6;
  border-radius: 5px;
}
