@import url('https://fonts.googleapis.com/css?family=Roboto|Bangers|Cabin+Condensed|Montserrat+Alternates|Scada|Staatliches&display=swap');

$font-1: 'Bangers', cursive;
$font-2: 'Cabin Condensed', sans-serif;
$font-3: 'Montserrat Alternates', sans-serif;
$font-4: 'Scada', sans-serif;
$font-5: 'Staatliches', cursive;
$font-6: 'Roboto', sans-serif;
