nav {
  height: 50px;
  background: $color-6;
  font-size: 1.3rem;
  @include flexCenter();
  justify-content: space-around;
  border-radius: 5px;
}

nav a {
  text-decoration: none;
  color: $color-2;
  font-family: $font-3;
}
