@import url("https://fonts.googleapis.com/css?family=Roboto|Bangers|Cabin+Condensed|Montserrat+Alternates|Scada|Staatliches&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

body {
  background: #565977;
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1512659348068-1a36e9d2253e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  max-width: 550px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

nav {
  height: 50px;
  background: #4b2363;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
}

.register-background {
  width: 100%;
  height: 190px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #754bac;
  border-radius: 10px;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register * {
  font-family: "Staatliches", cursive;
}

.register input {
  border-radius: 5px;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  margin: auto;
  margin-top: 10px;
  width: 150px;
  border-radius: 5px;
  background-color: #4b2363;
  border-radius: 5px;
}

.strain-table {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */